<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ "contact.main.text" | translate }}</h2>
        <hr class="divider my-4" />
        <p class="text-muted mb-5">
          {{ "contact.second.text" | translate }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fa fa-phone fa-3x mb-3 text-muted"></i>
        <div>054-5555555</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:contact@yourwebsite.com"
          >contact@yourwebsite.com</a
        >
      </div>
    </div>
  </div>
</section>
