<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">{{ "about.main.text" | translate }}</h2>
        <hr class="divider light my-4" />
        <p class="text-white-50 mb-4">
          {{ "about.description.text" | translate }}
        </p>
        <a
          class="btn btn-light btn-xl js-scroll-trigger"
          routerLink="/services"
          >{{ "about.second.text" | translate }}</a
        >
      </div>
    </div>
  </div>
</section>

<h1>alex</h1>

<p>test</p>
<hr />
