:host {
  background-color: #333;
  width: 100vw;
  bottom: 0;
  color: #fff;
  line-height: 16px;
  display: inline;

  border-top: red 1px solid;

  .socialmediaicons,
  .socialmediaicons2 {
    display: flex;
    justify-content: space-evenly;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .socialmediaicons .fa:hover {
    color: white;
    opacity: 0.8;
  }
  .socialmediaicons .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: 1px solid black;
  }

  .socialmediaicons2 .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
    border: 1px solid black;
  }

  .socialmediaicons .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .socialmediaicons .fa-twitter {
    background: #55acee;
    color: white;
  }

  .socialmediaicons .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .socialmediaicons .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .socialmediaicons .fa-instagram {
    background: #125688;
    color: white;
  }

  .socialmediaicons .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .footer-center {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
  }

  // h5 strong {
  //   color: #fff;
  //   background: rgb(131, 58, 180);
  //   background: linear-gradient(
  //     121deg,
  //     rgba(131, 58, 180, 1) 0%,
  //     rgba(253, 29, 29, 1) 50%,
  //     rgba(252, 176, 69, 1) 100%
  //   );
  // }
}
