<!--
  <footer class="footer">
  <span class="socialmediaicons socialmediaicons2">
    <a
      href="https://www.facebook.com"
      class="fa fa-facebook"
      target="_blanc"
    ></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
  </span>

  <span class="copy">
    <h5>
      <strong>
        A<sup>2</sup>D
      </strong>

      , All rights reserved &copy; {{ _year }}
    </h5>
  </span>
</footer>
-->

<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">
      <span class="socialmediaicons socialmediaicons2 footer-center">
        <a
          href="https://www.facebook.com"
          class="fa fa-facebook"
          target="_blanc"
        ></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>

        <h5>
          <strong>
            A<sup>2</sup>D
          </strong>

          , {{ "footer.text" | translate }} &copy; {{ _year }}
        </h5>
      </span>
    </div>
  </div>
</footer>
