// :host {
//   text-align: center;
//   font-size: 10em;
//   flex-wrap: wrap;
// }

// .nav {
//   display: flex;
//   justify-content: space-evenly;
// }

// .nav {
//   .nav-item {
//     .nav-link {
//       font-size: 2rem;
//       background-color: tomato;
//       color: black;

//       text-align: center;

//       border-top-right-radius: 25px;
//       border-bottom-left-radius: 25px;

//       min-width: 200px;
//       margin: 2.5px;
//       padding: 2.5px;
//     }
//   }
// }

@import "../../../assets/css/creative.min.css";
