<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">
      {{ "professional_services.main.text" | translate }}
    </h2>
    <hr class="divider my-4" />
    <p class="text-black-75 font-weight-light mb-5 text-center">
      {{ "professional_services.second.text" | translate }}
    </p>

    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fa-4x fa  fa-laptop text-primary mb-4"></i>
          <h3 class="h4 mb-2">
            {{ "professional_services.design.text" | translate }}
          </h3>
          <p class="text-muted mb-0">
            {{ "professional_services.design2.text" | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fa fa-globe fa-4x mb-4 text-primary"></i>
          <h3 class="h4 mb-2">
            {{ "professional_services.app.text" | translate }}
          </h3>
          <p class="text-muted mb-0">
            {{ "professional_services.app2.text" | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fa fa-4x fa-globe text-primary mb-4"></i>
          <h3 class="h4 mb-2">
            {{ "professional_services.shop.text" | translate }}
          </h3>
          <p class="text-muted mb-0">
            {{ "professional_services.shop2.text" | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fa fa-4x fa-heart text-primary mb-4"></i>
          <h3 class="h4 mb-2">
            {{ "professional_services.serv.text" | translate }}
          </h3>
          <p class="text-muted mb-0">
            {{ "professional_services.serv2.text" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<h1>Our Professional Services</h1>

<nav class="nav">
  <span class="nav-item"> <a class="nav-link" routerLink="web">web</a> </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="mobile">mobile</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="enterprise">enterprise</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="consulting">consulting</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="maintenance">maintenance</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="testing">testing</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="qa">qa</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="analytics">analytics</a>
  </span>

  <span class="nav-item">
    <a class="nav-link" routerLink="marketing">marketing</a>
  </span>
</nav>

  <router-outlet></router-outlet>
 -->
