a.active {
  outline-style: solid;
  outline-color: #3f3f3f;
  outline-offset: 5px;
  box-shadow: 1px 1px 15px;
  font-weight: bold;
  text-decoration: none;
}

.fa {
  text-align: center;
  text-decoration: none;
  z-index: 99;
}

.fa-globe {
  color: #4f4cb0; //linear-gradient(to right, #4f4cb0, #6b93d6);
  background: white;
}

.socialmediaicons2 .fa {
  font-size: 48px;
  border-radius: 50%;
  text-decoration: none;
}

select {
  border-radius: 15px;

  text-decoration: none;
}

option {
  text-align: center;
  box-shadow: 1px 1px 10px;
}
