<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button fxHide.gt-sm>
      <mat-icon (click)="sidenav.toggle()" fxHide.gt-sm>menu</mat-icon>
    </button>

    <a class="navbar-brand" routerLink="/">
      <img
        src="\assets\img\a2d-logo-rgbneg-sassinatura-high.png"
        alt="Start Bootstrap Logo"
        width="175"
        height="60"
      />
    </a>

    <span class="menu-spacer"></span>

    <div fxHide.lt-md>
      <a mat-button color="warn" routerLinkActive="active" routerLink="/home">{{
        "nav.home1.text" | translate
      }}</a>

      <a
        mat-button
        color="warn"
        routerLinkActive="active"
        routerLink="/about"
        >{{ "nav.about.text" | translate }}</a
      >

      <a
        mat-button
        color="warn"
        routerLinkActive="active"
        routerLink="/contact"
        >{{ "nav.contact.text" | translate }}</a
      >

      <a
        mat-button
        color="warn"
        routerLinkActive="active"
        routerLink="/services"
        >{{ "nav.services.text" | translate }}</a
      >
    </div>
    <span>
      <span class="socialmediaicons2" ml-auto>
        <i class="fa fa-globe" [hidden]="isShow" (click)="isShow = !isShow"></i>
        <label for="" class="nav-link" [hidden]="!isShow">
          <select
            #langselect
            (change)="handleOnLanguageChange(langselect.value)"
          >
            <option *ngFor="let lang of _translate.langs" value="{{ lang }}">{{
              lang | uppercase
            }}</option>
          </select>
        </label>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        mat-list-item
        color="warn"
        routerLinkActive="active"
        routerLink="/home"
        >{{ "nav.home1.text" | translate }}</a
      >

      <a
        mat-list-item
        color="warn"
        routerLinkActive="active"
        routerLink="/about"
        >{{ "nav.about.text" | translate }}</a
      >

      <a
        mat-list-item
        color="warn"
        routerLinkActive="active"
        routerLink="/contact"
        >{{ "nav.contact.text" | translate }}</a
      >

      <a
        mat-list-item
        color="warn"
        routerLinkActive="active"
        routerLink="/services"
        >{{ "nav.services.text" | translate }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
