<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>{{ "not.oops.text" | translate }}</h1>
    </div>
    <h2>{{ "not.er404.text" | translate }}</h2>
    <a routerLink="/">{{ "not.homepage.text" | translate }}</a>
  </div>
</div>
